/* 导入文泉驿微米黑*/
@import url("https://fontsapi.zeoseven.com/25/main/result.css");
/* 导入文泉驿正黑*/
@import url("https://fontsapi.zeoseven.com/373/main/result.css");
/* 导入文泉驿等宽微米黑 Mono */
@import url("https://fontsapi.zeoseven.com/372/main/result.css");
/* 导入 IBM Plex Sans KR */
@import url("https://fontsapi.zeoseven.com/401/main/result.css");
/* 导入 VLPGothic */
@font-face {
	font-family: 'VLPGothic';
	src: url('https://vlgothic.dicey.org/files/VL-PGothic-Regular.woff') format('woff');
}
/* 导入朝鲜字体 青峰体 */
@font-face {
  font-family: 'KP CheongPong';
  src: url('https://noelle2alternate.github.io/css/assets/fonts/KP-CheongPong.woff2') format('woff2');
}

body {
    font-family: "IBM Plex Sans KR", "WenQuanYi Micro Hei" !important;
    font-weight: normal;
    font-size: 20px;
    background-image: url("https://noelle2alternate.github.io/css/assets/nina-bg-export.png");
    background-repeat: repeat;
    background-attachment: fixed;
    padding: 0 16px 16px 16px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    font-variant-emoji: text;
}

table {
  width: 96%;
  max-width: 1080px;
  background-color: black;
  color: white;
  border: solid 4px white;
  border-radius: 1px;
  outline: solid 2px black; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px;
  font-variant-emoji: text;
}
th {
    background-color: white;
    color: black;
}
textarea {
    font-family: "WenQuanYi Micro Hei Mono", monospace;
    font-weight: normal;
    border-radius: 1px;
    color: black !important;
    text-transform: none;
    text-indent: 0px;
    display: inline-block;
    text-align: start;
    cursor: text;
    overflow-wrap: break-word;
    background-color: #fff !important;
    column-count: initial !important;
    margin: 0em 0em 0em 0em;
    border: 1px solid #7f9db9;
    padding: 4px;
    white-space: pre-wrap;
    font-size: 16px;
    width: 600px;
    height: 200px;
    font-variant-emoji: text;
}

blockquote {
  width: 96%;
  max-width: 1080px;
  background-color: black;
  color: white;
  border: solid 4px white;
  border-radius: 1px;
  outline: solid 2px black; 
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px;
  font-variant-emoji: text;
}

input {
    font-family: "WenQuanYi Micro Hei Mono", monospace;
    font-weight: normal;
    border: 1px solid #7f9db9;
    background-color: #fff !important;
    color: black !important;
    box-sizing: border-box;
    appearance: none;
    border-radius: 1px;
    font-size: 16px;
    cursor: text;
    font-variant-emoji: text;
}

button {
    font-family: "IBM Plex Sans KR", "WenQuanYi Micro Hei" !important;
    font-size: 20px;
    box-sizing: border-box;
    border: 1px solid #003c74;
    background: linear-gradient(180deg, #fff, #ecebe5 86%, #d8d0c4);
    box-shadow: none;
    border-radius: 4px;
    font-variant-emoji: text;
}

a {
  color: #00b064;
  background-image: url('https://noelle2alternate.github.io/css/assets/DIYUSI-Link.svg');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 24px; 
  background-size: 20px 20px;
  min-height: 20px;
  display: inline-block; 
  line-height: 20px; 
}

li {
  list-style-type: "\25B6";
}

li li {
  list-style-type: "\25B7";
}

code {
    font-family: "WenQuanYi Micro Hei Mono", monospace !important;
}
pre {
	text-wrap: wrap;
    padding: 12px 8px;
    background-color: black;
    color: #c0c0c0;
    font-family: "WenQuanYi Micro Hei Mono", monospace !important;
    font-size: 16px !important;
    margin: 0;
}
footer {
	text-align: center;
	padding: 16px;
}
/* 以下内容来自萌娘百科 https://zh.moegirl.org.cn/index.php?diff=834104 感谢贡献！*/
/* 版权协定：知识共享 署名-非商业性使用-相同方式共享 3.0 */
[lang] { font-family: initial; font-feature-settings: "locl" on; -webkit-font-feature-settings: "locl" on; }
/* 
* 在这里使用 font-feature-settings 属性会让使用“lang”标签的元素强制使用 OpenType 技术显示本地化的变体字（通过激活 locl 标签，即便浏览器本身不直接激活）。
* 如果你使用思源黑体（非 CN、JP、KO、TW 版）、Noto Sans CJK 显示文字的话就有可能看到效果。
* 关于上述这个 CSS 属性的用法，参阅：https://developer.mozilla.org/en-US/docs/Web/CSS/font-feature-settings 注意：此文引用的 OpenType Feature Tags list 同样需要关注。
*/
[lang=zh-hant] { 
	font-family: "IBM Plex Sans KR", "undefined";
}
[lang=zh-hans] {
	font-family: "IBM Plex Sans KR", "WenQuanYi Micro Hei";
}
[lang=zh-CN] { 
	font-family: "IBM Plex Sans KR", "WenQuanYi Micro Hei";
}
[lang=zh-HK] { 
	font-family: "IBM Plex Sans KR", "undefined";
}
[lang=zh-TW] { 
	font-family: "IBM Plex Sans KR", "undefined";
}
[lang=ja] { 
	font-family: "IBM Plex Sans KR", "VLPGothic";
}
[lang=ko] {
	font-family: "IBM Plex Sans KR", "undefined";
}
[lang=ko-KP] {
	font-family: "KP CheongPong", "LXGW WenKai";
}
[lang=en] {
	font-family: "IBM Plex Sans KR", "WenQuanYi Micro Hei";
}

.navbar {
            background: linear-gradient(to bottom, #0000 2px, #c9d0d9 2px, #b3c0cc 30%, #0000 30%),	linear-gradient(to bottom, #9eadbc 60%, #fff);
			border: solid black;
			border-width: 1px 0 1px 0;
			box-shadow: 0 0 2px black;
			border-radius: 0px 0px 4px 4px;
			margin-bottom: 16px;
        }
        
        .nav-links {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
        }
        
        .nav-links li {
            margin: 0 4px;
			list-style-type: none;
        }
        
        .nav-links a {
            display: block;
            padding: 4px 8px;
            background-color: transparent;
            color: #000000;
            text-decoration: none;
            border: none;
            font-size: 20px;
			line-height: normal;
			background-image: none;
			border-radius: 4px;
        }

		.nav-links a:hover {
            background: #fff5;
        }

.home-link {
            padding: 4px 8px;
            color: #000000;
            font-weight: bold;
            font-size: 40px !important;
            text-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px;
			line-height: normal;
			background-image: none;
        }

.wikitable {
        background-color: #f8f9fa;
        color: #202122;
        margin: 1em 0;
        border: 1px solid #a2a9b1;
        border-collapse: collapse;
    }

    .wikitable > tr > th,.wikitable > tr > td,.wikitable > * > tr > th,.wikitable > * > tr > td {
        border: 1px solid #a2a9b1;
        padding: 0.2em 0.4em;
		text-align: left;
    }

    .wikitable > tr > th,.wikitable > * > tr > th {
        background-color: #eaecf0;
        text-align: center;
    }

    .wikitable > caption {
        font-weight: bold;
    }
